.Page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: lightgreen;

  header {
    flex: none;
    position: relative;
    z-index: 125;
  }

  footer {
    flex: none;
  }
}

.main {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  flex: 1 0 auto;
}